.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.note{
    border-style: solid;
    border-width: 5px;
    margin: 20px 10px 10px 10px;
    border-radius: 20px;
    border:none;
    background-color: white;
    width: 600px;
    position: relative;
}

.itemTitle{
    color: #304D6D;
    text-align: left;
    margin-left: 20px;
    font-size: 22px;
    font-style: bold;
    margin-top: 10px;
    
}

.itemDate{
    text-align: left;
    margin-left: 20px;
    font-size: 12px;
    color: #82A0BC;
}

.itemBody{
    text-align: left;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 10px;
    color: #304D6D;
}

.itemAuthor{
    text-align: right;
    margin-right: 20px;
    font-size: 16px;
    margin-top: 20px;
    color: #304D6D;
    margin-bottom: 10px;
}

.deleteButton{
    position: absolute;
    top: 5%;
    right: 3%;
    width: 30px;
    height: 25px;
    background-color: #A7CCED;
    border: none;
}

span{
    display: block;
}